body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f3f8fe; /* Bleu clair de fond */
}

.container {
    text-align: center;
    background-color: #ffffff; /* Couleur de fond du conteneur */
    border-radius: 10px; /* Coins arrondis */
    padding: 30px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Ombre légère */
}

.container img {
    margin-bottom: 20px; /* Espacement en dessous de l'image */
}

h1 {
    color: #e60000; /* Rouge pour le titre */
    font-size: 20px;
    margin-bottom: 30px;
    line-height: 1.5; /* Hauteur des lignes */
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-size: 14px;
    color: #555; /* Gris neutre pour les labels */
    margin-bottom: 8px;
}

input {
    width: 300px;
    height: 40px;
    font-size: 16px;
    border: 1px solid #0088cc; /* Bordure bleue */
    color: #ffffff; /* Texte blanc */
    background-color: #0088cc; /* Fond bleu des champs */
    border-radius: 25px; /* Coins arrondis */
    padding: 0 15px;
    outline: none; /* Supprime l'effet de focus par défaut */
}

input::placeholder {
    color: #d9f2ff; /* Couleur bleu clair pour le texte placeholder */
}

input:focus {
    border-color: #005f99; /* Bordure plus sombre au focus */
    box-shadow: 0 0 4px rgba(0, 136, 204, 0.5); /* Légère lueur bleue */
}

button {
    width: 320px;
    height: 45px;
    font-size: 16px;
    background-color: #0088cc; /* Bleu principal des boutons */
    color: white; /* Texte blanc */
    border-radius: 25px; /* Coins arrondis */
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s; /* Effet de transition */
}

button:hover {
    background-color: #005f99; /* Couleur plus sombre au survol */
    box-shadow: 0 4px 8px rgba(0, 95, 153, 0.3); /* Ombre survol */
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #0088cc; /* Bleu principal pour les liens */
    text-decoration: none;
}

a:hover {
    text-decoration: underline; /* Soulignement au survol */
}